div.hero{
    background-color: var(--background-hero-footer);
    height: 500px;
    min-width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: right;
    color: var(--header-link-text-color);
    font-size: 18px;
    margin: 15px;  
}

li:nth-child(1){
    float: left;
    font-size: 24px;
    padding-left: 10%;
}

li:nth-child(2){
    padding-right: 10%;
}

div.awe-and-images{
    display: inline-flex;
}
section .awesome{
    margin-top: 5vh;
    padding-left: 25%;
    color: var(--hero-main-text-color);
    font-size: 48px;
}
p.awesome{
    
}